@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;500;600;700&family=Rubik:wght@400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @keyframes shimmer {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }
  /* Custom utility for shimmer animation */
  .animate-\[shimmer_2s_infinite\] {
    animation: shimmer 2s infinite;
  }
}
